html, body {
  height: 100%;
  background: #00CACA;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

#nav {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  line-height: 50px;
  font-size: 14px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 0;
}

#nav li {
  float: left;
  margin-right: 20px;
}

#nav li.brand {
  height: 50px;
}

#nav li a {
  color: #ffffff;
}

.vertically-centered {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.container {
  text-align: center;
}

.container.full {
  height: 100%;
}

.container.stripped {
  width: 100%;
  padding: 100px;
  margin-bottom:-100px;
  height: 1800px;
}

.container.content {
  background: #ffffff;
  color: #106b81;
}

.container.header {
  background: #008E8E;
  padding: 0;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: -30px;
}

.container.header h5 {
  font-weight: 700;
  line-height: 45px;
  height: 45px;
}


.tagline {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: -50px;
}

.tagline em {
   font-family: "Open Sans", sans-serif;
   text-transform: uppercase;
   font-weight: 800;
   text-decoration: none;
   font-style: normal;
}

.sub-tagline {
  font-size: 30px;
}

.sub-tagline a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

#what-we-do p{
  font-size: 17px;
  font-weight: 600;
}

#our-work {
  padding: 0;
  padding-top: 0;
}

#our-work h5{
  text-transform: uppercase;
  color: #ffffff;
  background: #00CACA;
  padding: 8px;
  display: inline;
  font-weight: 700;
  border-radius: 5px;
}

#work {
  list-style: none;
}

#work li {
  float: left;
  width: 50%;
  height: 30vw;
  overflow: hidden;
}

#work #cappio {
  background: url('https://dl-web.dropbox.com/get/Screenshots/Screenshot%202015-01-04%2020.05.36.png?_subject_uid=17072852&w=AACcDF3D1lc086n8kXkxLb4qsxS_5fgIytvaaCzpOfEtfw');
  background-size: cover;
  height: 100%;
  width: 100%;
}

#work li > div {
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;

}

#work li:hover > div {
  -moz-transform: scale(1.2,1.2);
  -webkit-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

#work li:hover{
  background: #000000;
}

.caption-style-1 {
list-style-type: none;
margin: 0px;
padding: 0px;
}
.caption-style-1 li {
float: left;
padding: 0px;
position: relative;
overflow: hidden;
}
.caption-style-1 li:hover .caption {
opacity: 1;
}
.caption-style-1 img {
margin: 0px;
padding: 0px;
float: left;
z-index: 4;
}
.caption-style-1 .caption {
cursor: pointer;
position: absolute;
opacity: 0;
-webkit-transition: all 0.45s ease-in-out;
-moz-transition: all 0.45s ease-in-out;
-o-transition: all 0.45s ease-in-out;
-ms-transition: all 0.45s ease-in-out;
transition: all 0.45s ease-in-out;
}
.caption-style-1 .blur {
background-color: rgba(0,0,0,0.65);
height: 262px;
width: 460px;
z-index: 5;
position: absolute;
border-radius: 6px;
}
.caption-style-1 .caption-text h1 {
text-transform: uppercase;
font-size: 22px;
}
.caption-style-1 .caption-text {
z-index: 10;
color: #fff;
position: absolute;
width: 420px;
height: 500px;
text-align: center;
top: 70px;
}

.gallery_image{
  border-radius: 1px;
  border: 1px solid #eee; 
}

